	<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			{{!-- <h1 class="page-title">Add New Address<span></span></h1> --}}
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
        	
        		<div class="container">
                    <form action="/add-profile/" method="post" name="address-form"  id="address-form">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>First Name *</label>
		                						<input type="text" id="firstname" name="firstName"class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Last Name *</label>
		                						<input type="text" id='lastname' name="lastName" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	            						


	            				

		                					<div class="col-sm-6">
		                						<label>Phone *</label>
		                						<input type="tel" id="mobile" name="phone" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	                					<label>Email address *</label>
	        							<input type="email" id="email" name="email" class="form-control" required>
                                        <input type="text" id="" name="userId" value="{{user._id}}" class="form-control" hidden>

                                        <input class="btn btn-primary" type="submit"  value="Submit">

		                	</div><!-- End .row -->
            			</form>

                        