<!DOCTYPE html>
<html lang="en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>




<body>
    <div class="page-wrapper">
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Order placed successfully<span></span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container ">
                   <div  align="center">
                      <a href="/orders" class="btn btn-warning" style="background-color: sucess;" >View Orders </a>

                   </div>
                      

                    
                    {{!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li> --}}
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

       

 
</body>


<script>
    
   




</script>



</html>