<html lang="en">
  <head>
    <title>Login 10</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body
    class="img js-fullheight"
    style="background-image: url(/assets/images/bg.jpg);"
  >
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Login With OTP</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
              <h3 class="mb-4 text-center">Have an account?</h3>
              <form action="/otp-login" method="post" class="signin-form">
                {{!-- {{#if loginErr}}
				<h1>{{loginErr}}</h1> --}}
                {{!-- <p class="error">{{loginErr}}</p> --}}

                {{!-- {{/if}} --}}

                {{#if loginErr}}
                  <p class="btn-danger">{{loginErr}}</p>
                {{/if}}
                <div class="form-group">
                  <input
                    type="tel"
                    name="phone"
                    id="phone"
                    class="form-control mt-4"
                    placeholder="Phone"
                    required
                  />
                </div>

                <div class="form-group">
                  <button
                    class="form-control btn btn-primary submit px-3"
                  >Continue</button>
                </div>
                <div class="form-group d-md-flex">
                  <div class="w-50">
                    {{! <label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label> }}
                  </div>
                  <div class="w-50 text-md-right">
                    <a href="#" style="color: #fff">Forgot Password</a>
                  </div>
                </div>
              </form>
              <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
              <div class="social d-flex text-center">
                <a href="/login" class="px-2 py-2 mr-md-1 rounded"><span
                    class="ion-logo-facebook mr-2"
                  ></span>
                  Login with email</a>

              </div>
              <div>
                <a href="/signup">Create new account?</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>